{% extends "govuk/template.njk" %}

{% block pageTitle %}
Peter's Graph Builder
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/stylesheets/main.css">
  <script type="module">
    import {d3, Grid, initAll} from '/bundle.js';
    window.initAll = initAll; 
  </script>
{% endblock %}

{% block header %}
<header class="govuk-header" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="#" class="govuk-header__link govuk-header__link--homepage">
        {{ servicetitle}}
      </a>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ pagetitle }}</h1>
    {{ content | safe }}

{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script type = "module">
    initAll()
  </script>
{% endblock %}  