{% extends "govuk/template.njk" %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}


{% set assetPath = urlPrefix + "/assets" %}



{% block pageTitle %}
Peter's Graph Builder
{% endblock %}

{% block head %}

  <link rel="stylesheet" href="{{urlPrefix}}/stylesheets/main.css">
{% endblock %}

{% block header %}
<header class="govuk-header" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container graph-header">
    <div class="govuk-header__logo">
      <a href="{{urlPrefix}}/#" class="govuk-header__link govuk-header__link--homepage">
        {{ servicetitle}}
      </a>
    </div>
    {% set org_list = [] %}
      {% for orgKey, orgValue in colours %}
      {% set newItem = {
        value: orgKey,
        text: orgKey}
      %}
      {% set x = org_list.push(newItem) %}
    {% endfor %}

    {{ govukSelect({
      id: "org_list",
      name: "org_list",
      label: {
      },
      items: org_list
    }) }}
  </div>

</header>
<div class = "govuk-width-container">
  {{ govukPhaseBanner({
  tag: {
    text: "Alpha"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="https://github.com/pbrohan/webgraphbuilder/issues">add any issues to the GitHub</a>.'
}) }}
</div>
{% endblock %}



{% block content %}
  <h1 class="govuk-heading-xl">{{ pagetitle }}</h1>
    {{ content | safe }}

{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script type = "module">
    import {initAll} from "{{urlPrefix}}/bundle.js";
    initAll()
  </script>
{% endblock %}  