@use "../../node_modules/govuk-frontend/dist/govuk/index.scss" with (
    $govuk-font-family: arial
);

@import url("https://uicdn.toast.com/grid/latest/tui-grid.css");

#settings-pane > form {
    display : flex
}

#settings-pane > form > div {
    padding-right: 2em
}