---
layout: govuk.njk
servicetitle: Peter's Graph Builder
pagetitle: Home Page
---
<!--link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" /-->
    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
    {% from "govuk/components/button/macro.njk" import govukButton %}
    {% from "govuk/components/select/macro.njk" import govukSelect %}
<h3> Instructions </h3>
<p>Click "Show table" to show the input table. Click on the table and paste your data into it. Your
data should consist of one column which is Ecodes (I will write a better explanation
later) and one column of values for those Ecodes. The table will automatically 
expand to accommodate the number of rows you have.</p>

<p>The page will then generate a map of the UK with each LA you have entered a 
  valid ecode for coloured in according to the number you have written in the 
  second column. Currently all other behaviours are unsupported and there are 
  probably many bugs.
</p>


<details class="table-holder-details">
  <summary class="table-holder">Show input table</summary>
 <div id = 'grid'></div>
</details>

<div id = 'settings-pane'>
  <div id = 'map-settings-container' class = 'settings-container'>
  <form id = "map-settings">
    <div id = 'level-menu'>
      {{ govukSelect({
        id: "map-type",
        name: "map-type",
        label: {
          text: "LA Level"
        },
        items: [
          {
            value: "county",
            text: "County",
            selected: true
          },
          {
            value: "district",
            text: "District"
          }
        ]
      }) }}
    </div>
    <div id = 'year-menu'>
      {{ govukSelect({
        id: "map-year",
        name: "map-year",
        label: {
          text: "Data Financial Year"
        },
        items: [
          {
            value: "2023",
            text: "2023/24",
            selected: true
          },
          {
            value: "2022",
            text: "2023/23"
          }
        ]
      }) }}
    </div>
    <div id = 'london-checkbox' class = "settings-checkbox">
      {{ govukCheckboxes({
        name: "london-inset",
        items: [
          {
            value: "use-inset",
            text: "London inset"
          }
        ]
      }) }}
    </div>
    <div id = 'shetland-checkbox' class = "settings-checkbox">
      {{ govukCheckboxes({
        name: "shetland-inset",
        items: [
          {
            value: "use-inset",
            text: "Shetland inset"
          }
        ]
      }) }}
    </div>
  </form>
  </div>
  <div id = 'palette' class="palette">
    {# MHCLG is default selection #}
    {% for colour, values in colours.MHCLG.light %}
      <div class = "palette-cell">
        <div class = "palette-preview" style="background-color: rgb({{values[0]}}, {{values[1]}}, {{values[2]}});"></div><span class = "palette-text">{{colour}}</span></div>
    {% endfor %} 
  </div>
</div>

{{ govukButton({
  id: "map-dl",
  text: "Download Graph",
  preventDoubleClick: true
}) }}

<div id = 'map'></div>




<script type = "module">
  import('./javascripts/maps.js').then(module => {
    module.initMapPage()
  })
</script>