---
layout: govuk.njk
servicetitle: Peter's Graph Builder
pagetitle: Home Page
---

Here is a table:
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

<div id="grid"></div>

<script>
    const Grid = tui.Grid;
    const instance = new Grid({
  usageStatistics: false, // Don't use google analytics
  el: document.getElementById('grid'), // Container element
  scrollX : false,
  scrollY : false,
  columns: [
    {
      header: 'Ecode',
      name: 'ecode',
      editor: 'text',
    },
    {
      header: 'Data',
      name: 'data',
      editor: 'text',
    },
  ],
  data: [
    {
      ecode: 'E000001',
      data: '7',
    }
  ]
});


Grid.applyTheme('striped'); // Call API of static method
console.log("beep");
instance.on('click', function() {console.log(instance.getData());});
</script>

That was my table