---
layout: govuk.njk
servicetitle: Peter's Graph Builder
pagetitle: Home Page
---
<!--link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" /-->
    {% from "govuk/components/select/macro.njk" import govukSelect %}
    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
<h3> Instructions </h3>
<p>Click "Show table" to show the input table. Paste your data into the table. Your
data should consist of one column which is Ecodes (I will write a better explanation
later) and one column of values for those Ecodes. The table will automatically 
expand to accommodate the number of rows you have.</p>

<p>The page will then generate a map of the UK with each LA you have entered a 
  valid ecode for coloured in according to the number you have written in the 
  second column. Currently all other behaviours are unsupported and there are 
  probably many bugs.
</p>

<details>
  <summary>Show table</summary>
 <div id = 'grid'></div>
</details>

<div id = 'settings-pane' style = "display:flex">
  <div id = 'level-menu'>


    {{ govukSelect({
      id: "map-type",
      name: "map-type",
      label: {
        text: "LA Level"
      },
      items: [
        {
          value: "county",
          text: "County",
          selected: true
        },
        {
          value: "district",
          text: "District"
        }
      ]
    }) }}
  </div>
  <div id = 'year-menu'>
        {{ govukSelect({
      id: "map-year",
      name: "map-year",
      label: {
        text: "Data Financial Year"
      },
      items: [
        {
          value: "2023",
          text: "2023/24",
          selected: true
        },
        {
          value: "2022",
          text: "2023/23"
        }
      ]
    }) }}
    </div>
    <div id = 'inset-checkbox'>
      Here is a checkbox
      {{ govukCheckboxes({
  name: "london-inset",
  items: [
    {
      value: "use-inset",
      text: "Include London inset"
    }
  ]
}) }}
    </div>
</div>

Here is a map
<div id = 'map'></div>




<script type = "module">
  import {initAll} from '/bundle.js';
  initAll();
  import('./javascripts/maps.js').then(module => {
    module.initMapPage()
  })

</script>